@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WM Project</h1>
</div>

<div class="row">
    <h3>JSON file path is set to <i><font color="blue">C:\Program Files (x86)\IIS Express\file.json</font></i></h3>
    <h3>Connection string for database is <i color="red"><font color="blue">Data Source=localhost;port=3306;Initial Catalog=product;User Id=root;password=</font></i></h3>
</div>